@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Parkinsans";
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px 200px 50px;
    background-image: url(Images/Prova.jpg);
}

.parentContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* Titolo */
.TitleBlurContainer{
    display: flex;
    height: max-content;
    width: max-content;
    align-self: center;
    text-align: center;
    justify-content: center;
    background: rgba(34,40,49,0.4);
    backdrop-filter: blur(20px);
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
}

.firstTitle{
    font-family: "Playwrite HR Lijeva";
    font-family: "Parkinsans";
    color: white;
    font-size: 40px;
}

/* PULSANTE */

.centerContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 250px;
    height: 250px;
}

.buttonContainer{
    width: 450px;
    height: 450px;
    background: #31363F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 20px 20px 0px 20px #222831;
}

.buttonWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-15px, -15px);
}

button{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 125px;
    width: 316px;
    height: 316px;
    padding: 33px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #ad080f;
    box-shadow: 20px 20px 0px 20px #8e0413;
    transition: all 0.2s;
    box-sizing:inherit;
}

button:active{
    scale: 0.95;
}

#videoContainer {
    text-align: center;
    margin-top: 20px;
}

#myVideo {
    border-radius: 20px;
    display: none;
}

@media (max-width: 280px){
    body{
        background: red;
        background-image: none;
    }
}

@media (max-width: 300px){
    body{
        background: blue;
        background-image: none;
    }
}

/* RESPONSIVE 480px (BIG PHONES) */

@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    .TitleBlurContainer{
        display: flex;
        height: max-content;
        width: 100%;
        align-self: center;
        text-align: center;
        justify-content: center;
        background: rgba(34,40,49,0.4);
        backdrop-filter: blur(20px);
        margin-bottom: 0px;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid ;
    }

    .firstTitle{
        font-size: 31px;
    }

    .buttonContainer {
        width: 400px;
        height: 400px;
        transform: translate(-15px, -40px);
    }

    button {
        width:  266px;
        height: 266px;
    }

    img{
        height: 200px;
        width: 200px;
    }

}

